<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>eauduparc.com | L'eau au Chateau de Fontainebleau</title>
    <meta name="description" content="Le parcours de l'eau autour du Chateau de Fontainebleau et la découverte archéologique de structures disparues grace à la radiesthésie par J. Bessiere">
    <%= favicon_tag 'images/fountain.png' %>
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>g
    <%= javascript_include_tag "application" %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
