<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- HTML Meta Tags -->
    <title>eauduparc.com | L'eau au château de Fontainebleau</title>
    <meta name="description" content="Le parcours de l'eau autour du Chateau de Fontainebleau et la découverte archéologique de structures disparues grace à la radiesthésie par J. Bessiere">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="eauduparc.com | L'eau au château de Fontainebleau">
    <meta itemprop="description" content="Le parcours de l'eau autour du Chateau de Fontainebleau et la découverte archéologique de structures disparues grace à la radiesthésie par J. Bessiere">
    <meta itemprop="image" content="<%= image_path 'canal.png'%>">


    <!-- Use the title from a page's frontmatter if it has one -->

    <title><%= yield(:title_tag).blank? ? "eauduparc.com" : yield(:title_tag) %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/fountain.png' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
