<div class="container">
  <div class="container-content">
    <div class="title">
      <div class="title-methode text-center">
        <h2>La méthode utilisée</h2>
      </div>
    </div>
    <div class="text">
      <div class="text-methode" id="details">
        <div id="floated">
          <%= image_tag('sourcier.jpg') %>
        </div>
        <p>Depuis des siècles, les faits et gestes des sourciers donnent lieu à de nombreuses expériences, interprétations et polémiques. </p>
        <p>Nous renvoyons aux différents ouvrages de la bibliographie, où partisans et opposants à la radiesthésie exposent leurs points de vue.</p>
        <p>Yves Rocard a tenté d’expliquer par la Physique le signal sourcier. Il souligne dans ses livres quatre points importants:</p>
        <p>1. Les mesures réalisées avec des magnétomètres performants montrent que le mouvement des baguettes ou du pendule du sourcier se produit à un endroit précis où le champ magnétique terrestre est légèrement modifié du fait du passage d’une veine d’eau.</p>
        <p>2. Comme de nombreux oiseaux et poissons, l’homme est porteur de magnétite Fe3O4 et est donc sensible aux variations du champ magnétique.</p>
        <p>3. Lorsque l’homme passe au-dessus de l’anomalie magnétique créée localement par le passage de l’eau, ses mains tremblent très faiblement. Les baguettes ou le pendule ne sont donc que des amplificateurs du mouvement des mains.</p>
        <p>4. Selon Yves Rocard, 80% des personnes sont aptes à ce type de détection après une préparation adéquate. Les réponses diffèrent selon les personnes: certaines constateront par exemple une rotation du pendule dans le sens horaire alors que d’autres la verront dans le sens anti-horaire. Il en est de même pour le mouvement des baguettes. De même que des gens ont une ouïe ou un odorat plus fin, de même certains sont plus sensibles que d’autres aux variations du champ magnétique.</p>
        <div class="partie-1">
          <h3>Conseil pratique:</h3>
          <div class="planche-right-small">
            <%= image_tag("planche1.jpg") %>
            <h5>Planche 1</h5>
          </div>
          <p>La pratique demande une forte concentration. On doit se comporter par exemple comme un parfumeur qui doit examiner un parfum très subtil. Toute gêne extérieure comme le bruit, le mouvement, la présence d’une personne peut compromettre les résultats. Il est donc conseillé d’opérer seul.</p>
          <h3>Matériel utilisé:</h3>
          <p>Au niveau de la détection, l’utilisation des baguettes en L (Planche 1) remplace de plus en plus les classiques baguettes de coudrier car plus facilement maniables. On peut les réaliser facilement à partir d’une tige d’aluminium ou de cuivre. La nature du matériau importe peu.</p>
          <h3>Comment détecter une veine d'eau ?</h3>
          <p>La présence d’une veine d’eau se manifeste à un point précis par une déviation des baguettes dans le sens de l’eau, lorsque l’on marche normalement. Sa direction est précisée localement en répétant la même opération à un ou deux mètres de la première.<br>
          Il est important de signaler que certaines veines d'eau par temps sec disparaissent ou voient leur débit diminuer (août 2018).</p>
        </div>
        <div class="partie-2">
          <h3>Comment determiner la profondeur d'une veine d'eau ?</h3>
          <div class="planche" id="planche2">
            <%= image_tag("planche2.jpg") %>
            <h5>Planche 2</h5>
          </div>
          <p>Parmi les méthodes utilisées pour préciser la profondeur, la « règle de l’évêque » est souvent pratiquée (Planche 2). Une démarche lente perpendiculairement à la veine d’eau détectée fait apparaître successivement trois signaux lorsque la veine n’est ni large ni profonde. L’écart entre les deux signaux extrêmes mesure deux fois la profondeur.</p>
          <p>Tout se passe comme si les radiations émises par l’eau se trouvent comprises dans un angle de 90 degrés orienté vers le sol.</p>
          <p>Lorsque la veine d’eau est plus large, sans être profonde, on détecte alors cinq signaux qui permettent de préciser sa largeur l et sa profondeur p dans le sol (Planche 3). </p>
          <p>Si la veine d’eau est large et profonde, on détecte alors sept signaux qui permettent de préciser les caractéristiques de la veine d’eau à savoir sa largeur l sa profondeur h ainsi que la profondeur à laquelle se trouvent dans le sol ses niveaux supérieur et inférieur (Planche 3).</p>
          <div class="wrap-planche">
            <div class="planche" id="planche3">
              <%= image_tag("planche3.png") %>
              <h5>Planche 3</h5>
            </div>
            <div class="planche" id="planche4">
              <%= image_tag("planche4.jpg") %>
              <h5>Planche 4</h5>
            </div>
          </div>
          <div class="planche" id="planche5">
            <%= image_tag("planche5.jpg") %>
            <h5>Planche 5</h5>
          </div>
          <p>Lorsque la veine d’eau est étroite il est impossible, debout, de déterminer sa largeur. Pour y parvenir, il faut se baisser, se placer parallèlement à la veine d’eau et déplacer latéralement la baguette jusqu'à ce qu’elle dévie (Planche 4).</p>
          <p>Il est possible de préciser ainsi la profondeur à laquelle entre ou sort l’eau du Grand Canal en appliquant la règle de l’évêque (Planche 5). Il est ainsi aisé de distinguer les sorties profondes des peu profondes.</p>
        </div>
        <div class="partie-3">
          <h3>Comment suivre le parcours de l'eau ?</h3>
          <p>Quand on marche dans le sens de l’eau (Planche 6), on constate que les baguettes s’écartent alors qu’elles se croisent quand on marche dans le sens contraire. Dès que l’on sort de la veine d’eau, les baguettes reprennent leur position de repos. On peut ainsi suivre une veine d’eau sur une cinquantaine de mètres, voire plus.</p>
          <h3>Comment suivre le débit de veines d'eau ?</h3>
          <p>On peut également comparer le débit des veines d’eau (Planche 7): si l’on reste immobile sur la veine, orienté dans le sens contraire de l’eau, les baguettes se croisent d’autant plus que le débit est plus élevé: d2 est le débit le plus fort, d5 le plus faible. Lorsque l’on est orienté dans le sens de l’eau, les baguettes s’écartent d’autant plus que le débit est plus élevé. Les baguettes ne répondent pas quand l’eau est immobile.</p>
          <div class="wrap-planche">
            <div  class="planche" id="planche6">
              <%= image_tag("planche6.jpg") %>
              <h5>Planche 6</h5>
            </div>
            <div  class="planche" id="planche7">
              <%= image_tag("planche7.png") %>
              <h5>Planche 7</h5>
            </div>
          </div>
        </div>
        <div class="partie-4">
          <h3>Comment localiser une structure enterrée ?</h3>
          <div class="planche-right-small">
            <%= image_tag("planche8.jpg") %>
            <h5>Planche 8</h5>
          </div>
          <p>La localisation d’une structure enterrée, basée probablement elle aussi sur une variation du champ magnétique, implique un déplacement très lent, perpendiculairement à la structure (Planche  8). Une démarche en sens inverse confirme cette localisation.</p>
          <h3>Quelques remarques:</h3>
          <p>Un certain nombre de sourciers utilisent les conventions mentales pour localiser et préciser la profondeur ainsi que le débit des veines d’eau. Nous ne les avons pas pratiquées.</p>
          <p>D’autres interprétations du signal sourcier que celles de Y. Rocard ont été également avancées. Nous renvoyons à la bibliographie pour des informations complémentaires.</p>
          <p>Les archéologues russes ont été parmi les premiers à utiliser la radiesthésie pour rechercher les nécropoles d’Ivan le Terrible et analyser les champs de batailles de Napoléon. Les souterrains pendant la guerre de 1914 ou au Vietnam étaient détectés par des sourciers.</p>
        </div>
      </div>
      <div class="retour-sommaire-link text-center">
        <a class="btn-method" href="/book.html" role="button">Retour au sommaire</a>
      </div>
    </div>
  </div>
</div>

